<div class="container-md">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/posts">Posts</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{postId}}</li>
    </ol>
  </nav>
  <div *ngIf="post">
    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>
  </div>
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
