<div class="container-md">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Photos</li>
    </ol>
  </nav>

  <h1>Photos</h1>

  <div class="btn-group me-3" *ngIf="(filter$|async) as filter">
    <input type="text" class="form-control" aria-label="Text input with dropdown button"
           (input)="setFilterExpression($event)"
           [value]="filter.expression">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn px-2 btn-outline-secondary dropdown-toggle"
              ngbDropdownToggle>{{filter.fieldName}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="setFilterField('albumId', 'eq')">albumId</button>
        <button ngbDropdownItem (click)="setFilterField('title', 'ct')">title</button>
      </div>
    </div>
  </div>

  <div *ngIf="(photos$|async) && (isLoading$|async) === false" >
    <div class="row">
      <div *ngFor="let photo of (photos$|async)" class="col-sm-12 col-md-3 col-xxl-2 py-1">
        <div>
          <img [src]="photo.url" class="img-thumbnail">
          <div class="bg-light text-truncate"><a [routerLink]="photo.id.toString(10)"> {{photo.title}}</a></div>
          <div class="bg-light"><a [routerLink]="'/albums/'+photo.albumId">View Album</a></div>
        </div>

      </div>
    </div>

    <app-paginator [currentPageNum]="(currentPageNum$|async)" [totalCount]="(totalCount$|async)"
                   (pageChanged)="pageChange($event)"></app-paginator>

  </div>

  <div>
    <div *ngIf="(isLoading$|async) === true" class="spinner-border my-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>
