<div class="container-md">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
  </nav>

  <h1>Posts</h1>

  <div data-ref="filter" class="btn-group me-3" *ngIf="(filter$|async) as filter">
    <input type="text" class="form-control" aria-label="Text input with dropdown button"
           (input)="setFilterExpression($event)"
           [value]="filter.expression">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button type="button"
              class="btn px-2 btn-outline-secondary dropdown-toggle"
              ngbDropdownToggle>
        {{filter.fieldName}}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="setFilterField('userId', 'eq')">userId</button>
        <button ngbDropdownItem (click)="setFilterField('title', 'ct')">title</button>
      </div>
    </div>
  </div>

  <div class="my-2">
    <ng-container *ngIf="(isLoading$|async)===false">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of (posts$|async)">
          <th scope="row">{{post.id}}</th>
          <td><a class="text-nowrap" [routerLink]="'/users/'+post.userId">User {{post.userId}}</a></td>
          <td>
            <a class="" [routerLink]="post.id.toString(10)">{{post.title}}</a>
          </td>
          <td>{{post.body}}</td>
        </tr>
        </tbody>
      </table>

      <app-paginator [totalCount]="(pages$|async)" [currentPageNum]="(pageNum$|async)"
                     (pageChanged)="pageChanged($event)"></app-paginator>
    </ng-container>

    <div *ngIf="(isLoading$|async)" data-ref="loading" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>


