<div class="container-md">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/albums">Albums</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{(albumId$|async)}}</li>
    </ol>
  </nav>

  <div *ngIf="error">
    <app-not-found *ngIf="error.status === 404"></app-not-found>
    <app-error-msg *ngIf="error.status !== 404" [error]="error"></app-error-msg>
  </div>

  <div *ngIf="!error">
    <input type="text" class="form-control w-25" placeholder="Search"
           *ngIf="(filter$|async) as filter"
              (input)="setFilterExpression($event)"
              [value]="filter.expression">

    <div>
      <div *ngIf="(isLoading$|async) === false">
        <h2>{{(album$|async)?.title}}</h2>

        <div class="row">
          <div *ngFor="let photo of (photos$|async)" class="col-sm-12 col-md-3 col-xxl-2 py-1">
            <div>
              <img [src]="photo.url" class="img-thumbnail">
              <div class="bg-light text-truncate"><a [routerLink]="'/photos/'+photo.id">{{photo.title}}</a></div>
            </div>
          </div>
        </div>

        <app-paginator [totalCount]="(pagesTotalCount$|async)" [currentPageNum]="(pageNum$|async)"
                       (pageChanged)="pageChanged($event)"></app-paginator>

      </div>
      <div *ngIf="(isLoading$|async)" class="spinner-border m-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
